.gradle
build/
data/

*.iws
*.iml
*.ipr
out/
.idea/http-requests/
http-requests/*.env.json

gradle.properties
.idea/dictionaries
.idea/libraries-with-intellij-classes.xml
.idea/terraform.xml
build
out
.DS_Store

tbe-ui/node_modules/
tbe-ui/dist/
tbe-backend/src/test/environment/test-data/
tbe-backend/out
